<header class="site-header">
  <div class="header-inner">
    <a class="brand" href="/">
      <span class="brand-mark"></span>
      <span class="brand-name">All My Meeples</span>
    </a>
    <nav class="site-nav" aria-label="Primary">
      <a href="/" class="nav-link">Home</a>
      <a href="#collection" class="nav-link">Collection</a>
      <a href="#wishlist" class="nav-link">Wishlist</a>
      <a href="#events" class="nav-link">Events</a>
    </nav>
  </div>
</header>
